<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>" />
  <link href="./css/style.css" rel="stylesheet" type="text/css">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Rahman</title>
  <script>
    var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
    function updateTodo(id, completionStatus) {
      fetch(`/todos/${id}`, {
        method: "put",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          "_csrf": token,
          completed: completionStatus,
        })
      }).then((res) => {
        if (res.ok) {
          window.location.reload();
        }
      })
        .catch((err) => console.log(err));
    }
    function deleteTodo(id) {
      fetch(`/todos/${id}`, {
        method: "delete",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          "_csrf": token
        })
      }).then((res) => {
        if (res.ok) {
          window.location.reload();
        }
      }).catch((err) => console.log(err));
    }
  </script>
</head>

<body>

  <div class="w-full rounded  p-8 md:max-w-sm md:mx-auto">
    <%- include('header.ejs') %>
      <form class="flex mb-4 md:justify-between " action="/todos" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="flex flex-col mb-4 md:w-1/2 ">
          <input class="border border-lime-400 leading-relaxed rounded py-1.5 px-3 text-grey-darkest md:mr-2 "
            placeholder="Enter Todo" type="text" name="title" required>
        </div>
        <div class="flex flex-col mb-4 md:w-1/2 ">
          <input class="border border-lime-400 rounded py-1.5 px-3 text-grey-darkest md:ml-2" type="date" name="dueDate"
            required>
        </div>
        <div class="flex-none">
          <button class="ml-5 px-5 py-1.5 bg-green-600  text-white uppercase text-lg p-1.5 rounded"
            type="submit">add</button>
        </div>
      </form>
      <div>
        <%- include('todos.ejs', {title: "Overdue" , data: overdue}) %>
          <%- include('todos.ejs', {title: "Due Today" , data: dueToday}) %>
            <%- include('todos.ejs', {title: "Due Later" , data: dueLater}) %>
              <%- include('todos.ejs', {title: "Completed Items" , data: completed}) %>
      </div>

</body>

</html>
